* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

body {
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 1;
	color: #FFFFFE;
	height: 100%;
	background-color: #25272E;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

._container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1436px;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*--------------------Header------------------------*/
.header {
	position: relative;	
}
.header::after {
	content: "";
	position: absolute;
	right: -70px;
	top: 0;
	width: 275px;
	height: 161px;
	background-image: url("../img/main-block/basil-leaves.png");
	background-repeat: no-repeat;
	filter: drop-shadow(0px 10px 50px rgba(108, 162, 0, 0.2));
	opacity: 0.9;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 174px;
}
.header__logo {
	margin: 0 148px 0 0;
}
.header__menu {
	
}
.menu-header {
	
}
.menu-header__list {
	display: flex;
	flex-wrap: wrap;
}
.menu-header__item:not(:last-child) {
	margin: 0 59px 0 0;
}
.menu-header__link {
	font-size: 20px;
	line-height: 120%;
	color: #DFDDDD;
}
.header__login {
	display: flex;
}
.login {
}
.login__text {
	margin: 0 20px 0 0;
	padding: 0 0 0 20px;
	cursor: pointer;
}
.login__basket {
	cursor: pointer;
}

@media(max-width: 1110px) {
	.header__logo {
		margin: 0 70px 0 0;
	}
	.menu-header__item:not(:last-child) {
		margin: 0 59px 20px 0;
	}
}


@media(max-width: 479px) {
	.header__container {
		flex-wrap: wrap;
	}
	.header__logo,
	.menu-header,
	.header__login {
		flex: 1 1 100%;
	}
	.menu-header__item:not(:last-child) {
		margin: 0 25px 10px 0;
	}
	.login__text {
		padding: 0;
	}
}

/*--------------------Page------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__advantages {
}
.page__serving {
}
.page__offer {
}
.page__discount {
}
/*--------------------Main-Block---------------------------*/

.main-block {
	padding: 0 0 80px 0;
	position: relative;
}

.main-block::before {
	content: "";
	position: absolute;
	left: 0;
	top: 64%;
	width: 322px;
	height: 240px;
	background-image: url("../img/main-block/lemon-slice.png");
	background-repeat: no-repeat;
	filter: drop-shadow(0px 10px 50px rgba(108, 162, 0, 0.2));
	opacity: 0.9;	
}
.main-block__container {
	display: flex;
}
.main-block__body {
	flex: 0 1 44.011%;
	padding: 160px 0 0 0;
}

.main-block__body>*:not(:last-child) {
	margin: 0 0 30px 0;
}

.main-block__hi {
	font-weight: 600;
	font-size: 20px;
	line-height: 75%;
	color: #FD7E41;

}

.main-block__title {
	font-weight: 700;
	font-size: 90px;
	line-height:  116%;
	color: #FFFFFE;
}

.main-block__body .main-block__text {
	margin: 0 0 50px 0;
	font-size: 20px;
	line-height: 160%;
	color: #A7A9BE;
	margin: 0 0 50px 0;
}

.main-block__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 22px 44px;
	background: #3C3F4A;
	box-shadow: 0px 15px 50px rgba(171, 172, 175, 0.1);
	border-radius: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 160%;
	color: #FCC232;
	min-height: 73px;
	}

.main-block__image {
	flex: 0 1 54.317%;
	position: relative;
}

.main-block__image img{
	object-fit: contain;
	top: -5%;
}

@media(max-width: 1074px) {
.main-block__title {	
	font-size: 72px;
}
.main-block__container {
	flex-direction: column-reverse;
}
.main-block__image {
	padding-bottom: 99.48%;
}
.main-block__image img {
	top: -8%;
}
.main-block__body {
	padding: 30px;
}
}

@media(max-width: 749px) {
	.main-block {
		padding: 0 0 30px 0;		
  }
  .main-block__title {
	font-size: 60px;
}
}
/*----------------------Advantages----------------------------*/

.advantages {
	padding: 80px 0 50px 0;
}
.advantages__container {
}
.advantages__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.advantages__item {
	padding: 0 15px;
	flex: 0 1 33.333%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.item-advantages {
	position: relative;
}
.item-advantages__image {
	position: absolute;
	top: -25%;	
}
.item-advantages__body {
	padding: 123px 47px 48px;
	background-color: #3C3F4A;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 378px;
}
.item-advantages__text {
	font-weight: 600;
	font-size: 36px;
	line-height: 128%;
	color: #FFFFFE;
}

@media(max-width: 1250px) {
	.item-advantages__body {
		padding: 123px 25px 48px;		
  }
  .advantages__item:not(:last-child) {
	margin: 0 0 100px 0;		
}
}

@media(max-width: 992px) {
	.advantages {
		padding: 80px 0 0 0;
  }
}

 @media(max-width: 434px) {
	.item-advantages__body  {
		min-width: 300px;
	}

	.item-advantages__text {
		text-align: center;
  }
  .item-advantages__text {
	font-size: 33px;
	line-height: 120%;
}
}

/*---------------------Serving----------------------------*/

.serving {
	padding: 54px 0 80px 0;
	position: relative;
}
.serving::after {
	content: "";
	position: absolute;
	right: 0;
	top: 107px;
	width: 318px;
	height: 491px;
	background-image: url("../img/serving/02.png");
	background-repeat: no-repeat;
	filter: drop-shadow(0px 15px 80px rgba(44, 17, 17, 0.3));
	opacity: 0.9;	
}
.serving__container {
}
.serving__body {
	display: flex;
}
.serving__image {
	flex: 0 1 34.749%;
	margin: 0 100px 0 0;
}
.serving__image img {
	object-fit: contain;
}
.serving__content {
	flex: 0 1 63.231%;
	padding: 124px 0 0 19px;
}
.serving__title {
	font-weight: 700;
	font-size: 58px;
	line-height: 117%;
	color: #FFFFFE;
}
.serving__title:not(:last-child) {
	margin: 0 0 30px 0;
}
.serving__text {
	font-size: 20px;
	line-height: 160%;
	color: #A7A9BE;
}
.serving__text:not(:last-child) {
	margin: 0 0 50px 0;
}

.serving__button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 73px;
	padding: 22px 45px;
	font-weight: 700;
	font-size: 20px;
	line-height: 160%;
	color: #25272E;
	background: #FCC232;	
	box-shadow: 0px 15px 50px rgba(215, 153, 0, 0.15);
	border-radius: 50px;
}

@media(max-width: 1270px) {
	.serving {
		padding: 0 0 80px 0;
  }
  .serving__image {
	margin: 0;
}
}

@media(max-width: 992px) {
	.serving__image img {
		top: -53px;
	}
	.serving::after {
		display: none;
	}
}
@media(max-width: 776px) {
	.serving {
		padding: 40px 0 80px 0;
  }
	.serving__body {
		flex-direction: column;
	}
	.serving__image {
		flex: 1 1 100%;
		margin: 0;
	}
	.serving__image img {
		position: static;
		
	}
	.serving__content {
		flex: 1 1 auto;
		padding: 0;
	}	
}
/*-----------------Offer---------------------*/

.offer {
	padding: 81px 0 64px 0;
}
.offer__container {
}
.offer__title {
	font-weight: 700;
	font-size: 58px;
	line-height: 117%;
	color: #FFFFFE;
	max-width: 543px;
}
.offer__title:not(:last-child) {
	margin: 0 0 162px 0;
}

.offer__row {
	display: flex;
	margin: 0 -42.5px;
	flex-wrap: wrap;
}
.row-offer {
}
.row-offer__item {
	padding: 0 42.5px;
	flex: 0 1 33.333%;
}
.row-offer__body {
	background: #DFDDDD;
	border-radius: 30px;
	position: relative;
	padding: 30px 24px 54px;	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row-offer__body:hover {
	background-color: #3C3F4A;
	
} 
.row-offer__body:hover .row-offer__label,
.row-offer__body:hover .row-offer__title,
.row-offer__body:hover .row-offer__text {
	color: #FFFFFE;
}
.row-offer__image {
	position: absolute;
	top: -56%;
	left: -30%;
}
.row-offer__rate {
	align-self: flex-end;
	margin: 0 0 12.5px 0;
}
.row-offer__label {
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: #46474A;
	align-self: flex-end;
}
.row-offer__label:not(:last-child) {
	margin: 0 0 51px 0;
}
.row-offer__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 74%;
	color: #25272E;
}
.row-offer__title:not(:last-child) {
	margin: 0 0 30px 0;
}
.row-offer__text {
	font-size: 18px;
	line-height: 156%;
	text-align: center;
	color: #46474A;
}
.offer__switcher {
	max-width: 102px;
	margin:  90px auto 0 auto;
}
.switcher {
}
.switcher__btn {
	width: 20px;
	height: 20px;
	background: #FCC232;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.switcher__btn::after,
.switcher__btn::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #3C3E49;
}

.switcher__btn::after {
	left: 41px;
}
.switcher__btn::before {
	right: 41px;
}

@media(max-width: 1282px) {
	.offer__row {
		flex-wrap: wrap;
		justify-content: center;
	}
	.row-offer__item {
		flex: 0 1 50%;
		padding: 0 22.5px;
	}
	.row-offer__item:not(:last-child) {
		margin: 0 0 120px 0;
	}
	.row-offer__image {		
		left: 50%;
		width: 362px;
		margin-left: -181px;
  }  
  .offer__title:not(:last-child) {
	margin: 0 auto 162px auto;
	text-align: center;	
}
}

@media(max-width: 992px) {
	.row-offer__item {
		flex: 0 1 60%;
	}

	.row-offer__image {
		top: -56%;
		left: 0;
  }
  .row-offer__item {
	padding: 0;
}
}

@media(max-width: 479px) {
	.offer {
		padding: 0 0 64px 0;
  }
	.offer__title {		
		font-size: 52px;		
  }
	.offer__row {
		margin: 0;
  }
	.row-offer__item {
		flex: 1 1 60%;
	}
	.row-offer__image {
		top: -39%;
  }
}

/*------------------Discount------------------------*/
.discount {
	padding: 98px 0 80px 0;
}
.discount__container {
	
}
.discount__body {
	padding: 110px 145px;
	background-color: #FCC232;
}
.discount__title {
	font-weight: 700;
	font-size: 58px;
	line-height: 120%;
	color: #25272E;
	text-align: center;
}
.discount__title:not(:last-child) {
	margin: 0 0 30px 0;
}
.discount__title span {
	color: #fff;
}
.discount__text {
	font-weight: 600;
	font-size: 20px;
	line-height: 160%;
	text-align: center;
	color: #25272E;
	padding: 0 75px;
}
.discount__text:not(:last-child) {
	margin: 0 0 51px 0;
} 
.discount__buttons {
	max-width: 519px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.discount__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 160%;
	color: #FFFFFE;
	box-shadow: 0px 15px 50px rgba(171, 172, 175, 0.1);
	border-radius: 50px;
	padding: 25px 42px;
	background-color: #25272E;
}

.discount__btn:hover {
	color: #25272E;
	background-color: #fff;
}



@media(max-width: 874px) {
	.discount {
		padding: 30px 0;
  }
	.discount__body {
		padding: 70px 75px;
  }
  .discount__title {	
	font-size: 50px;	
}
	.discount__buttons {
		flex-direction: column;
		align-items: center;
	}
	.discount__btn:not(:last-child) {
		margin: 0 0 30px 0;
	}
	.discount__text {		
		padding: 0 75px;
  }
}
@media(max-width: 579px) {
	.discount {
		padding: 0;
  }
	.discount__body {
		padding: 70px 0;
  }
}