* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

body {
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 1;
	color: #FFFFFE;
	height: 100%;
	background-color: #25272E;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

._container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1436px;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*--------------------Header------------------------*/
.header {
	position: relative;	
}
.header::after {
	content: "";
	position: absolute;
	right: -70px;
	top: 0;
	width: 275px;
	height: 161px;
	background-image: url("../img/main-block/basil-leaves.png");
	background-repeat: no-repeat;
	filter: drop-shadow(0px 10px 50px rgba(108, 162, 0, 0.2));
	opacity: 0.9;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 174px;
}
.header__logo {
	margin: 0 148px 0 0;
}
.header__menu {
	
}
.menu-header {
	
}
.menu-header__list {
	display: flex;
	flex-wrap: wrap;
}
.menu-header__item:not(:last-child) {
	margin: 0 59px 0 0;
}
.menu-header__link {
	font-size: 20px;
	line-height: 120%;
	color: #DFDDDD;
}
.header__login {
	display: flex;
}
.login {
}
.login__text {
	margin: 0 20px 0 0;
	padding: 0 0 0 20px;
	cursor: pointer;
}
.login__basket {
	cursor: pointer;
}

@media(max-width: 1110px) {
	.header__logo {
		margin: 0 70px 0 0;
	}
	.menu-header__item:not(:last-child) {
		margin: 0 59px 20px 0;
	}
}


@media(max-width: 479px) {
	.header__container {
		flex-wrap: wrap;
	}
	.header__logo,
	.menu-header,
	.header__login {
		flex: 1 1 100%;
	}
	.menu-header__item:not(:last-child) {
		margin: 0 25px 10px 0;
	}
	.login__text {
		padding: 0;
	}
}

/*--------------------Page------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__advantages {
}
.page__serving {
}
.page__offer {
}
.page__discount {
}
.page__dishes {
}
.page__app {
}
/*---------------------Switcher-------------------------------*/
.switcher {
	max-width: 102px;
	margin:  90px auto 0 auto;
}
.switcher__btn {
	width: 20px;
	height: 20px;
	background: #FCC232;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.switcher__btn::after,
.switcher__btn::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #3C3E49;
}

.switcher__btn::after {
	left: 41px;
}
.switcher__btn::before {
	right: 41px;
}

/*--------------------Main-Block---------------------------*/

.main-block {
	padding: 0 0 80px 0;
	position: relative;
}

.main-block::before {
	content: "";
	position: absolute;
	left: 0;
	top: 64%;
	width: 322px;
	height: 240px;
	background-image: url("../img/main-block/lemon-slice.png");
	background-repeat: no-repeat;
	filter: drop-shadow(0px 10px 50px rgba(108, 162, 0, 0.2));
	opacity: 0.9;	
}
.main-block__container {
	display: flex;
}
.main-block__body {
	flex: 0 1 44.011%;
	padding: 160px 0 0 0;
}

.main-block__body>*:not(:last-child) {
	margin: 0 0 30px 0;
}

.main-block__hi {
	font-weight: 600;
	font-size: 20px;
	line-height: 75%;
	color: #FD7E41;

}

.main-block__title {
	font-weight: 700;
	font-size: 90px;
	line-height:  116%;
	color: #FFFFFE;
}

.main-block__body .main-block__text {
	margin: 0 0 50px 0;
	font-size: 20px;
	line-height: 160%;
	color: #A7A9BE;
	margin: 0 0 50px 0;
}

.main-block__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 22px 44px;
	background: #3C3F4A;
	box-shadow: 0px 15px 50px rgba(171, 172, 175, 0.1);
	border-radius: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 160%;
	color: #FCC232;
	min-height: 73px;
	transition: all 0.3s ease 0s;	
	}

.main-block__button:hover {
	background:#FCC232 ;
	color: #3C3F4A;
}

.main-block__image {
	flex: 0 1 54.317%;
	position: relative;
}

.main-block__image img{
	object-fit: contain;
	top: -5%;
}

@media(max-width: 1074px) {
.main-block__title {	
	font-size: 72px;
}
.main-block__container {
	flex-direction: column-reverse;
}
.main-block__image {
	padding-bottom: 99.48%;
}
.main-block__image img {
	top: -8%;
}
.main-block__body {
	padding: 30px;
}
}

@media(max-width: 749px) {
	.main-block {
		padding: 0 0 30px 0;		
  }
  .main-block__title {
	font-size: 60px;
}
}
/*----------------------Advantages----------------------------*/

.advantages {
	padding: 80px 0 50px 0;
}
.advantages__container {
}
.advantages__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.advantages__item {
	padding: 0 15px;
	flex: 0 1 33.333%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.item-advantages {
	position: relative;
}
.item-advantages__image {
	position: absolute;
	top: -25%;	
}
.item-advantages__body {
	padding: 123px 47px 48px;
	background-color: #3C3F4A;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 378px;
}
.item-advantages__text {
	font-weight: 600;
	font-size: 36px;
	line-height: 128%;
	color: #FFFFFE;
}

@media(max-width: 1250px) {
	.item-advantages__body {
		padding: 123px 25px 48px;		
  }
  .advantages__item:not(:last-child) {
	margin: 0 0 100px 0;		
}
}

@media(max-width: 992px) {
	.advantages {
		padding: 80px 0 0 0;
  }
}

 @media(max-width: 434px) {
	.item-advantages__body  {
		min-width: 300px;
	}

	.item-advantages__text {
		text-align: center;
  }
  .item-advantages__text {
	font-size: 33px;
	line-height: 120%;
}
}

/*---------------------Serving----------------------------*/

.serving {
	padding: 54px 0 80px 0;
	position: relative;
}
.serving::after {
	content: "";
	position: absolute;
	right: 0;
	top: 107px;
	width: 318px;
	height: 491px;
	background-image: url("../img/serving/02.png");
	background-repeat: no-repeat;
	filter: drop-shadow(0px 15px 80px rgba(44, 17, 17, 0.3));
	opacity: 0.9;	
}
.serving__container {
}
.serving__body {
	display: flex;
}
.serving__image {
	flex: 0 1 34.749%;
	margin: 0 100px 0 0;
}
.serving__image img {
	object-fit: contain;
}
.serving__content {
	flex: 0 1 63.231%;
	padding: 124px 0 0 19px;
}
.serving__title {
	font-weight: 700;
	font-size: 58px;
	line-height: 117%;
	color: #FFFFFE;
}
.serving__title:not(:last-child) {
	margin: 0 0 30px 0;
}
.serving__text {
	font-size: 20px;
	line-height: 160%;
	color: #A7A9BE;
}
.serving__text:not(:last-child) {
	margin: 0 0 50px 0;
}

.serving__button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 73px;
	padding: 22px 45px;
	font-weight: 700;
	font-size: 20px;
	line-height: 160%;
	color: #25272E;
	background: #FCC232;	
	box-shadow: 0px 15px 50px rgba(215, 153, 0, 0.15);
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}

.serving__button:hover {	
	color: #FCC232;
	background-color: #3C3F4A;
}

@media(max-width: 1270px) {
	.serving {
		padding: 0 0 80px 0;
  }
  .serving__image {
	margin: 0;
}
}

@media(max-width: 992px) {
	.serving__image img {
		top: -53px;
	}
	.serving::after {
		display: none;
	}
}
@media(max-width: 776px) {
	.serving {
		padding: 40px 0 80px 0;
  }
	.serving__body {
		flex-direction: column;
	}
	.serving__image {
		flex: 1 1 100%;
		margin: 0;
	}
	.serving__image img {
		position: static;
		
	}
	.serving__content {
		flex: 1 1 auto;
		padding: 0;
	}	
}
/*-----------------Offer---------------------*/

.offer {
	padding: 81px 0 64px 0;
}
.offer__container {
}
.offer__title {
	font-weight: 700;
	font-size: 58px;
	line-height: 117%;
	color: #FFFFFE;
	max-width: 543px;
}
.offer__title:not(:last-child) {
	margin: 0 0 162px 0;
}

.offer__row {
	display: flex;
	margin: 0 -42.5px;
	flex-wrap: wrap;
}
.row-offer {
}
.row-offer__item {
	padding: 0 42.5px;
	flex: 0 1 33.333%;
}
.row-offer__body {
	background: #DFDDDD;
	border-radius: 30px;
	position: relative;
	padding: 30px 24px 54px;	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row-offer__body:hover {
	background-color: #3C3F4A;
	
} 
.row-offer__body:hover .row-offer__label,
.row-offer__body:hover .row-offer__title,
.row-offer__body:hover .row-offer__text {
	color: #FFFFFE;
}
.row-offer__image {
	position: absolute;
	top: -56%;
	left: -30%;
}
.row-offer__rate {
	align-self: flex-end;
	margin: 0 0 12.5px 0;
}
.row-offer__label {
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: #46474A;
	align-self: flex-end;
}
.row-offer__label:not(:last-child) {
	margin: 0 0 51px 0;
}
.row-offer__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 74%;
	color: #25272E;
}
.row-offer__title:not(:last-child) {
	margin: 0 0 30px 0;
}
.row-offer__text {
	font-size: 18px;
	line-height: 156%;
	text-align: center;
	color: #46474A;
}
.offer__switcher {	
}


@media(max-width: 1282px) {
	.offer__row {
		flex-wrap: wrap;
		justify-content: center;
	}
	.row-offer__item {
		flex: 0 1 50%;
		padding: 0 22.5px;
	}
	.row-offer__item:not(:last-child) {
		margin: 0 0 120px 0;
	}
	.row-offer__image {		
		left: 50%;
		width: 362px;
		margin-left: -181px;
  }  
  .offer__title:not(:last-child) {
    margin: 0 auto 110px auto;
    text-align: center;
}
}

@media(max-width: 992px) {
	.row-offer__item {
		flex: 0 1 60%;
	}

	.row-offer__image {
		top: -56%;
		left: 0;
  }
  .row-offer__item {
	padding: 0;
}
}

@media(max-width: 479px) {
	.offer {
		padding: 0 0 64px 0;
  }
	.offer__title {		
		font-size: 52px;		
  }
	.offer__row {
		margin: 0;
  }
	.row-offer__item {
		flex: 1 1 60%;
	}
	.row-offer__image {
		top: -39%;
  }
}

/*------------------Discount------------------------*/
.discount {
	padding: 98px 0 80px 0;
}
.discount__container {
	position: relative;
}
.discount__container::after,
.discount__container::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
}

.discount__container::after {
	background-image: url("../img/discount/01.png");
	top: 205px;
	left: -154px;
	width: 289px;
	height: 297px;
}

.discount__container::before {
	background-image: url("../img/discount/02.png");
	top: -116px;
	right: 58px;
	width: 187px;
	height: 201px;
}

.discount__body {
	padding: 110px 145px;
	background-color: #FCC232;
}
.discount__title {
	font-weight: 700;
	font-size: 58px;
	line-height: 120%;
	color: #25272E;
	text-align: center;
}
.discount__title:not(:last-child) {
	margin: 0 0 30px 0;
}
.discount__title span {
	color: #fff;
}
.discount__text {
	font-weight: 600;
	font-size: 20px;
	line-height: 160%;
	text-align: center;
	color: #25272E;
	padding: 0 75px;
}
.discount__text:not(:last-child) {
	margin: 0 0 51px 0;
} 
.discount__buttons {
	max-width: 519px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.discount__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 160%;
	color: #FFFFFE;
	box-shadow: 0px 15px 50px rgba(171, 172, 175, 0.1);
	border-radius: 50px;
	padding: 25px 42px;
	background-color: #25272E;
}

.discount__btn:hover {
	color: #25272E;
	background-color: #fff;
}

@media(max-width: 874px) {
	.discount {
		padding: 30px 0;
  }
	.discount__body {
		padding: 70px 75px;
  }
  .discount__title {	
	font-size: 50px;	
}
	.discount__buttons {
		flex-direction: column;
		align-items: center;
	}
	.discount__btn:not(:last-child) {
		margin: 0 0 30px 0;
	}
	.discount__text {		
		padding: 0 75px;
  }
  .discount__container::after {
	top: 59%;
} 

}
@media(max-width: 579px) {
	.discount {
		padding: 0;
  }
	.discount__body {
		padding: 70px 0;
  }
}
/*---------------------Gishes-------------------*/

.dishes {
	padding: 80px 0 80px 0;
	position: relative;
}
.dishes::after {
	position: absolute;
	content: "";
	width: 329px;
	height: 324px;
	top: -88px;
	right: -3px;
	background-image: url("../img/dishes/falling-sliced-tomato.png");
	background-repeat: no-repeat;
	opacity: 0.9;
	filter: drop-shadow(5px 10px 50px rgba(103, 103, 105, 0.1));
}

.dishes__container {
}
.dishes__title {
	font-weight: 700;
	font-size: 58px;
	line-height: 104%;
	color: #FFFFFE;
	text-align: center;
}
.dishes__title:not(:last-child) {
	margin: 0 0 60px 0;
}
.dishes__menu {
	display: flex;
	max-width: 1036px;
	margin: 0 auto 256px auto;
}

.dishes__item:not(:last-child) {
	margin: 0 78px 0 0;
}
.dishes__link {
	font-weight: 600;
	font-size: 30px;
	line-height: 107%;
	color: #A7A9BE;
	margin: 0 0 80px 0;
}
.dishes__link:hover {
	color: #FCC232;
	text-decoration: underline;
}
.dishes__body {
	margin: 0 -20px 74px;
	display: flex;	
}
.body-dishes {
}
.body-dishes__item {
	padding: 0 20px;
	flex: 0 1 33.333%;	
	transition: all 0.3s ease 0s;	
}

.body-dishes__item:hover {	
	transform: translateY(-50px);
}

.body-dishes__item:hover .body-dishes__content {
	border-bottom: 2px solid red;
}


.body-dishes__content {
	padding: 266px 30px 50px;
	background-color: #3C3E49;
	position: relative;
	border-radius: 30px;
	min-height: 100%;
}
.body-dishes__price {
	position: absolute;
	width: 131px;
	height: 131px;
	background-color: #FCC232;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	left: 47%;
	margin-left: -155.5px;
	top: -36%;
	z-index: 2;
}

.body-dishes__price p {
	font-weight: 700;
	font-size: 28px;
	line-height: 43%;
	color: #25272E;
}

.body-dishes__image {
	position: absolute;
	top: -101px;
	width: 315px;
	left: 50%;
	margin-left: -157.5px;
}
.body-dishes__title-line {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.body-dishes__title {
	font-weight: 600;
	font-size: 34px;
	line-height: 124%;
	color: #FFFFFE;
}
.body-dishes__counter {
	display: flex;
}
.body-dishes__count {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 43.29px;
	height: 47px;
	background-color: #46474A;
	cursor: pointer;
}
.body-dishes__count--numb {	
	font-weight: 700;
	font-size: 14px;
	line-height: 67%;
	color: #231F20;
	background-color: #FD7E41;
}
.body-dishes__user-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.body-dishes__timer {
	position: relative;
	font-size: 16px;
	line-height: 94%;
	color: #A7A9BE;
	padding-left: 37px;
}
.body-dishes__timer::after {
	position: absolute;
	content: "";
	width: 22px;
	height: 22px;
	background-image: url("../img/dishes/clock.svg");
	background-repeat: repeat;
	left: 0;
	top: 0;
}
.body-dishes__users {
}

@media(max-width: 1210px) {
	.body-dishes {
		flex-wrap: wrap;
		justify-content: center;
	}
	.body-dishes__item {
		flex: 0 1 50%;	
	}
	.body-dishes__item:not(:last-child) {
		margin-bottom: 171px;
  }
  .dishes::after {	
	opacity: 0.7;	
}
}

@media(max-width: 1110px) {
.dishes__menu {	
	flex-wrap: wrap;	
	max-width: auto;
	margin-bottom: 256px;
	justify-content: center;
}
.dishes__item {
	flex: 0 1 16.666%;
}
.dishes__item:not(:last-child) {
	margin: 0 20px 15px 0;
}
}

@media(max-width: 992px) {
	.body-dishes__item {
		flex: 0 1 65%;
  }
}
@media(max-width: 650px) {
	.body-dishes__item {
		flex: 1 1 65%;
  }
}
@media(max-width: 479px) {
	.dishes__title {
		font-size: 50px;
  }
	.body-dishes__title-line {		
		flex-direction: column;		
  }
  .body-dishes__title {	
		margin-bottom: 15px;
}
.body-dishes__item:not(:last-child) {
	margin-bottom: 201px;
}
}

/*-----------------------App------------------------*/
.app {
	padding: 80px 0;
	position: relative;
}
.app::before {
	position: absolute;
	content: "";
	top: -90px;
	right: 89px;
	width: 453px;
	height: 311px;
	background-image: url("../img/app/lemon-slice.png");
	background-repeat: no-repeat;
	opacity: 0.7;
	filter: drop-shadow(0px 8px 80px rgba(181, 130, 5, 0.15));
}
.app::after {
	position: absolute;
	content: "";
	bottom: 80px;
	left: 0;
	width:200px;
	height: 330px;
	background-image: url("../img/app/basil-leaves.png");
	background-repeat: no-repeat;
	opacity: 0.9;
	filter: drop-shadow(0px 10px 50px rgba(108, 162, 0, 0.2));
}
.app__container {
	display: flex;
	background-color: #3C3E49;
	padding: 45px 0 0 0;
	justify-content: space-around;
}

.app__content {
	flex: 1 1 auto;
	padding: 105px 20px 148px 106px
}
.app__title {
	font-weight: 700;
	font-size: 58px;
	line-height: 117%;
	color: #FFFFFE;
	margin: 0 0 44px 0;
}
.app__button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 25px 44px;
	min-height: 74px;
	font-weight: 700;
	font-size: 20px;
	line-height: 160%;
	color: #25272E;
	background-color: #FCC232;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}
.app__button:hover {
	color: #FCC232;
	background-color: #25272E;
}
.app__image {
	flex: 0 0 43%;
	position: relative;
	padding-bottom: 31.561%;
	padding-left: 25px;
}

.app__image img {
	padding-right: 108px;
}

@media(max-width: 1355px) {
	.app__container {
		justify-content: space-between; 
	}
	.app__content {
		flex: 0 1 45%;
		padding: 105px 20px 70px 106px;
	}
	.app__image {
		flex: 0 0 50%;
	}
	.app__image img {
		padding: 0;
		width: 100%;
		height: 100%;
		bottom: 0;
		object-fit: cover;
  }
}

@media(max-width: 1079px) {
	.app {
		padding: 0;
  }
	.app__container {
		flex-direction: column-reverse;
	}
	.app__image {
		padding: 0;
	}
	.app__image img {
		position: static;
  }
  .app__content {
	flex: 0 1 45%;
	padding: 65px 20px 70px;
	text-align: center;
}
.app__title {	
	font-size: 50px;
	line-height: 107%;	
}
}

@media(max-width: 479px) {
	.app__title {
		font-size: 42px;
  }
  .app__content {
	padding: 50px 20px 70px;
}
}

/*-----------------------Footer----------------------------*/
.footer {
	padding: 80px 0 84px 0;
	background-color: #25272E;
	position: relative;
}
.footer::before {
	position: absolute;
	content: "";
	top: 0;
	right: -93px;
	width: 310px;
	height: 294px;
	background-image: url("../img/footer/juicy-burger.png");
	background-repeat: no-repeat;
	opacity: 0.9;
	filter: drop-shadow(0px 11.1405px 27.8512px rgba(100, 92, 92, 0.25));
}
.footer__container {
}
.footer__row {
}
.row-footer {
	display: flex;
}
.row-footer__item {
	flex: 0 1 20%;
}
.row-footer__item:first-child {
	flex: 0 1 40%;
	margin-right: 195px;
}
.row-footer__logo {
	display: block;
	margin: 0 0 30px 0;
}
.row-footer__item:nth-child(2) {
	margin: 0 106px 0 0;
}
.row-footer__item:nth-child(3) {
	margin: 0 112px 0 0;
}
.row-footer__text {
	margin: 0 0 45px 0;
	font-weight: 400;
	font-size: 20px;
	line-height: 160%;
	color: #A7A9BE;
}
.row-footer__social {
	display: flex;
}
.row-footer__point {
	width: 48px;
	height: 48px;
	background-color: #3C3F4A;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 4px;
	transition: all 0.3s ease 0s;	
}
.row-footer__point:hover {
	background-color: #FCC232;
}
.row-footer__point:not(:last-child) {
	margin: 0 20px 0 0;
}
/* .row-footer__point--yellow {
	background-color: #FCC232;
	padding-top: 6px;	
} */

.row-footer__point--yellow img {
	width: 21px;
	height: 15px;
}

.row-footer__link {
}
.row-footer__title {
	margin: 0 0 25px 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	color: #FFFFFE;
}
.row-footer__title--form {
	margin-bottom: 38px;
}
.row-footer__menu {
}
.menu-footer {
}
.menu-footer__item:not(:last-child) {
	margin-bottom: 5px;
}
.menu-footer__item--form {
	margin: 0 0 20px 0;
}
.menu-footer__link {
	font-weight: 400;
	font-size: 20px;
	line-height: 200%;
	color: #A7A9BE;
}
.menu-footer__form {
	display: flex;
	align-items: center;
	margin: 0 0 25px 0;
}
.menu-footer__input {
	max-height: 33px;
	background-color: #2E2F38;	
	padding: 11px 0 11px 12px;
}
.menu-footer__form-btn {
	max-height: 33px;
	padding: 10px 9px 11px;
	background-color: #FCC232;
	border-radius: 0px 5px 5px 0px;
}
.item-footer {
}
.item-footer__pay-list {
	display: flex;
	margin-top: 20px;
}
.item-footer__point:not(:last-child) {
	margin: 0 14px 0 0;
}
.item-footer__point-link {
}

@media(max-width: 1176px) {
	.row-footer {
		justify-content: space-between;
	}
	.row-footer__item:first-child {
		flex: 0 1 20%;
		margin-right: 0;
  }
	.row-footer__item:nth-child(2),
	.row-footer__item:nth-child(3) {
		margin: 0;
	}
}

@media(max-width: 900px) {
	.footer {
		padding: 80px 0 0px 0;		
  }
  .row-footer {
	flex-wrap: wrap;
	justify-content: space-around;
}
.row-footer .row-footer__item {
	flex: 0 1 40%;
}
.row-footer__item:first-child,
.row-footer__item:nth-child(2) {	
	margin: 0 0 40px 0;
} 
.row-footer__text {
	margin: 0 0 25px 0;	
}
}

@media(max-width: 579px) {
	.footer {
		padding: 40px 0 0px 0;
  }
  .row-footer .row-footer__item {
	flex: 0 0 55%;
	text-align: center;
	margin-bottom: 30px;
}
.row-footer {
	flex-wrap: wrap;
	justify-content: center;
}
.menu-footer__form {	
	justify-content: center;	
}
.item-footer__pay-list {
	justify-content: center;
}
.row-footer__title {
	margin: 0 0 10px 0;	
}
.menu-footer__form {	
	margin: 0 0 10px 0;
}
.item-footer__pay-list {
	margin-top: 10px;
}
.footer::before {
	top: 50%;
}
}